.todo__delete {
  position: absolute;
  top: 0;
  right: 0;
}

.list__item.checked {
  text-decoration: line-through;
}
.list__item {
  cursor: pointer;
  position: relative;
}

.close {
  padding: 10px;
}