.wrapper {}

.todo {

	&__input {}

	&__add {}

	&__list {}

	&__save {}

	&__delete {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.list {

	&__item.checked {
		text-decoration: line-through;
	}

	&__item {
		cursor: pointer;
		position: relative;
	}
}

.close {
	padding: 10px;
}